.pokemon-list-container {
  width: 25%;
  padding: 20px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  padding-top: 5px;
}
.pokemon-list-tittle {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.pokemon-list-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .pokemon-item {
    margin-top: 10px;
    width: 48%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 175px;
    h2 {
      margin: 0;
      padding: 0;
      color: black;
      text-transform: capitalize;
    }
    div {
      width: 100%;
      height: 100%;
      background-color: #aeabab;
      img {
        width: 90%;
        height: 90%;
        animation: MoveUpDown 1s linear infinite;
        position: absolute;
        left: 10px;
        background-color: transparent;
        bottom: 12%;
      }
    }
  }
  .empty-list-message {
    margin: auto;
    margin-top: 55%;
    font-size: 18px;
    width: 250px;
    text-align: center;
  }

  @-webkit-keyframes MoveUpDown {
    0%,
    100% {
      bottom: 14%;
    }
    50% {
      bottom: 12%;
    }
  }
}
